# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# MLflow local tracking
mlruns/
mlartifacts/
mlflow.db

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Data
data/raw/*
!data/raw/feature_columns.txt